In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
# import the preprocessed data 
data = pd.read_csv('preprocessed_data.csv')
target = pd.read_csv('target.csv')

data.drop(columns ="Unnamed: 0", inplace=True)
target.drop(columns ="Unnamed: 0", inplace=True)

display(data)
display(target)

,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,RainToday,HumidityDelta,PressureDelta,DeltaTemp
0,21,13.4,22.9,0.6,44.0,71.0,22.0,1007.7,1007.1,0.0,-49.0,-0.6,4.9
1,21,7.4,25.1,0.0,44.0,44.0,25.0,1010.6,1007.8,0.0,-19.0,-2.8,7.1
2,21,12.9,25.7,0.0,46.0,38.0,30.0,1007.6,1008.7,0.0,-8.0,1.1,2.2
3,21,9.2,28.0,0.0,24.0,45.0,16.0,1017.6,1012.8,0.0,-29.0,-4.8,8.4
4,21,17.5,32.3,1.0,41.0,82.0,33.0,1010.8,1006.0,0.0,-49.0,-4.8,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,1,3.5,21.8,0.0,31.0,59.0,27.0,1024.7,1021.2,0.0,-32.0,-3.5,11.5
142189,1,2.8,23.4,0.0,31.0,51.0,24.0,1024.6,1020.3,0.0,-27.0,-4.3,12.3
142190,1,3.6,25.3,0.0,22.0,56.0,21.0,1023.5,1019.1,0.0,-35.0,-4.4,13.6
142191,1,5.4,26.9,0.0,37.0,53.0,24.0,1021.0,1016.8,0.0,-29.0,-4.2,13.6
142192,1,7.8,27.0,0.0,28.0,51.0,24.0,1019.4,1016.5,0.0,-27.0,-2.9,10.9

        RainTomorrow
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
142188             0
142189             0
142190             0
142191             0
142192             0

[142193 rows x 1 columns]

In [34]:
# drop rows where there is nan (side effects of our preprocessing script)

index_to_keep = np.where(~data.applymap(np.isnan).apply(any, axis=1))[0]
data = data.iloc[index_to_keep]
target = target.iloc[index_to_keep]

In [35]:
# Train/test split our data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.3)

In [37]:
from sklearn.tree import DecisionTreeClassifier

# train classifier on train dataset

clf =DecisionTreeClassifier()
clf.fit(X_train, y_train)

# predict on test dataset
y_pred = clf.predict(X_test)

In [39]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_pred,y_test)) #

0.6448163515357411